$font-family-playfair-display: 'Playfair Display', serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-raleway: 'Raleway', sans-serif;
$font-family-lora: 'Lora', serif;
